@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.ban{
    display:flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap:30px;
}
.card1{
    border-radius: 5px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 350px !important;
}
.card1:hover{
    transform: scale(1.07);
    transition: 0.6s;
}

.photo{
    height: 350px;
}
